<form asp-controller="SOneWeather" asp-action="LookupWeather" method="post" enctype="multipart/form-data" onsubmit="return validateZipcode()">
    <input type="text" Id="PostalCode" name="PostalCode" />
    <button type="submit">Go</button>
</form>